mixin form()
    form(action="#!").form
        .form-row 
            .form-item.form-col
                input(type="email" required placeholder="Введите ваш e-mail") 
                span <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.9907 5.64956L8.30253 1.98962C8.18339 1.73133 7.8163 1.73133 7.69716 1.98962L6.00899 5.64956C5.96044 5.75483 5.86067 5.82731 5.74555 5.84096L1.74307 6.31552C1.46061 6.34901 1.34717 6.69814 1.556 6.89126L4.51514 9.62779C4.60025 9.70649 4.63836 9.82377 4.61576 9.93748L3.83026 13.8907C3.77482 14.1697 4.07181 14.3855 4.32002 14.2465L7.83703 12.2779C7.93819 12.2212 8.0615 12.2212 8.16266 12.2779L11.6797 14.2465C11.9279 14.3855 12.2249 14.1697 12.1694 13.8907L11.3839 9.93748C11.3613 9.82377 11.3994 9.70649 11.4846 9.62779L14.4437 6.89126C14.6525 6.69814 14.5391 6.34901 14.2566 6.31552L10.2541 5.84096C10.139 5.82731 10.0393 5.75483 9.9907 5.64956Z" fill="#F2994A"/></svg>
            .form-item.form-col
                input(type="tel" required placeholder="+7 (___) ___ __ __")#tel 
                span <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.9907 5.64956L8.30253 1.98962C8.18339 1.73133 7.8163 1.73133 7.69716 1.98962L6.00899 5.64956C5.96044 5.75483 5.86067 5.82731 5.74555 5.84096L1.74307 6.31552C1.46061 6.34901 1.34717 6.69814 1.556 6.89126L4.51514 9.62779C4.60025 9.70649 4.63836 9.82377 4.61576 9.93748L3.83026 13.8907C3.77482 14.1697 4.07181 14.3855 4.32002 14.2465L7.83703 12.2779C7.93819 12.2212 8.0615 12.2212 8.16266 12.2779L11.6797 14.2465C11.9279 14.3855 12.2249 14.1697 12.1694 13.8907L11.3839 9.93748C11.3613 9.82377 11.3994 9.70649 11.4846 9.62779L14.4437 6.89126C14.6525 6.69814 14.5391 6.34901 14.2566 6.31552L10.2541 5.84096C10.139 5.82731 10.0393 5.75483 9.9907 5.64956Z" fill="#F2994A"/></svg>
        .form-row 
            .form-col.w-btn 
                button(type="submit").form-btn Отправить
            .form-col.max
                p.form-p Нажав кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с #[a(href="#!") политикой] конфиденциальности

mixin form2()
    form(action="#!").form
        .form-row 
            .form-item.form-col
                input(type="email" required placeholder="Введите ваш e-mail") 
                span <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.9907 5.64956L8.30253 1.98962C8.18339 1.73133 7.8163 1.73133 7.69716 1.98962L6.00899 5.64956C5.96044 5.75483 5.86067 5.82731 5.74555 5.84096L1.74307 6.31552C1.46061 6.34901 1.34717 6.69814 1.556 6.89126L4.51514 9.62779C4.60025 9.70649 4.63836 9.82377 4.61576 9.93748L3.83026 13.8907C3.77482 14.1697 4.07181 14.3855 4.32002 14.2465L7.83703 12.2779C7.93819 12.2212 8.0615 12.2212 8.16266 12.2779L11.6797 14.2465C11.9279 14.3855 12.2249 14.1697 12.1694 13.8907L11.3839 9.93748C11.3613 9.82377 11.3994 9.70649 11.4846 9.62779L14.4437 6.89126C14.6525 6.69814 14.5391 6.34901 14.2566 6.31552L10.2541 5.84096C10.139 5.82731 10.0393 5.75483 9.9907 5.64956Z" fill="#F2994A"/></svg>
            .form-item.form-col
                input(type="tel" required placeholder="+7 (___) ___ __ __")#tel2 
                span <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.9907 5.64956L8.30253 1.98962C8.18339 1.73133 7.8163 1.73133 7.69716 1.98962L6.00899 5.64956C5.96044 5.75483 5.86067 5.82731 5.74555 5.84096L1.74307 6.31552C1.46061 6.34901 1.34717 6.69814 1.556 6.89126L4.51514 9.62779C4.60025 9.70649 4.63836 9.82377 4.61576 9.93748L3.83026 13.8907C3.77482 14.1697 4.07181 14.3855 4.32002 14.2465L7.83703 12.2779C7.93819 12.2212 8.0615 12.2212 8.16266 12.2779L11.6797 14.2465C11.9279 14.3855 12.2249 14.1697 12.1694 13.8907L11.3839 9.93748C11.3613 9.82377 11.3994 9.70649 11.4846 9.62779L14.4437 6.89126C14.6525 6.69814 14.5391 6.34901 14.2566 6.31552L10.2541 5.84096C10.139 5.82731 10.0393 5.75483 9.9907 5.64956Z" fill="#F2994A"/></svg>
        .form-row 
            .form-col.w-btn 
                button(type="submit").form-btn Отправить
            .form-col.max
                p.form-p.dark Нажав кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с #[a(href="#!") политикой] конфиденциальности