mixin handbook()
    .handbook.section 
        .handbook__body.container 
            h2.title.handbook__title Справочник СЗЗ
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Зачем нужен проект СЗЗ?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li Разработка проекта СЗЗ — обязательная часть экологического проектирования для промышленных объектов. На основании разработанного проекта СЗЗ Роспотребнадзор выдает решение об установлении санитарной зоны
            .accordion
                button(type='button').accordion__button.active  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Чем регламентируется разработка проекта СЗЗ?
                .accordion__content(style="display:block") 
                    ul.handbook__list 
                        li.handbook__li Градостроительный кодекс РФ от 29.12.2004 № 190-ФЗ                    
                        li.handbook__li Федеральный закон от 03.08.2018 г. № 342-ФЗ «О внесении изменений в Градостроительный кодекс Российской Федерации и отдельные законодательные акты Российской Федерации»
                        li.handbook__li Постановление Правительства РФ от 03.03.2018 г. № 222 «Об утверждении Правил установления санитарно-защитных зон и использования земельных участков, расположенных в границах санитарно-защитных зон»
                        li.handbook__li СанПиН 2.2.1/2.1.1.1200-03 «Санитарно-защитные зоны и санитарная классификация предприятий, сооружений и иных объектов»
                        li.handbook__li Федеральный закон № 96-ФЗ от 04.05.1999 «Об охране атмосферного воздуха»
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Что такое ориентировочная санзона?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li Ориентировочной называют СЗЗ, ширина которой определяется в соответствии с классом производства, установленным СанПиН 2.2.1./2.1.1.1200-03. Каждому из 5 классов опасности предприятия соответствует свой размер ориентировочной санитарно-защитной зоны:
                        li.handbook__li I класс — 1000 м
                        li.handbook__li II класс — 500 м
                        li.handbook__li III класс — 300 м
                        li.handbook__li IV класс — 100 м
                        li.handbook__li V класс — 50 м
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Что такое дополнительная оценка рисков?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li Для предприятий I и II классов опасности предусмотрена дополнительная оценка рисков для здоровья населения
                        li.handbook__li Суть процедуры — оценить не максимально разовое воздействие негативных физических или химических факторов, а риск возникновения заболеваний и других последствий для здоровья при постоянном воздействии этих факторов в течение года
                        li.handbook__li По результатам анализа устанавливается уровень риска: допустимый, условно допустимый или недопустимый
                        li.handbook__li При недопустимом уровне разрабатываются мероприятия по снижению негативного воздействия на здоровье населения
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Что входит в проект СЗЗ?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li Проектирование санитарно-защитной зоны — комплексная процедура, состоящая из нескольких частей:
                        li.handbook__li Экологи-проектировщики выявляют на предприятии источники химического загрязнения воздуха и физические факторы воздействия на жителей близлежащих территорий и выполняют оценку воздействия расчетным методом
                        li.handbook__li Разработка мер по снижению влияния вредных химических соединений и физических факторов на здоровье населения. Для действующих предприятий — мониторинг физических показателей и атмосферного воздуха
                        li.handbook__li Анализ показателей, разработка проекта СЗЗ и его согласование в экспертной аккредитованной организации
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Сколько длится согласование проекта СЗЗ?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li После разработки проекта необходимо получить экспертное заключение в ФБУЗ «Центр гигиены и эпидемиологии в городе Москве» или в другой аккредитованной организации — это занимает около 1−2 месяцев
                        li.handbook__li Следующая ступень — согласование в Роспотребнадзоре, на которое необходим еще месяц. Для действующих объектов также предусмотрены замеры в рамках экологического мониторинга — они обычно занимают от 3 до 12 месяцев
                        li.handbook__li Итого минимально возможный срок разработки и согласования проекта СЗЗ:
                        li.handbook__li для проектируемого объекта — 4 месяца
                        li.handbook__li для действующего объекта — 6 месяцев
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Как часто нужно разрабатывать проект СЗЗ?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li Проект СЗЗ разрабатывается и согласовывается один раз и подлежит корректировке при изменении технологических процессов, смене оборудования, увеличении мощности предприятия и других масштабных изменениях
            .accordion
                button(type='button').accordion__button  
                    <svg class="hide" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.7071 9.70711C20.0976 9.31658 20.0976 8.68342 19.7071 8.29289C19.3166 7.90237 18.6834 7.90237 18.2929 8.29289L19.7071 9.70711ZM12 16L11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071L12 16ZM5.70711 8.29289C5.31658 7.90237 4.68342 7.90237 4.29289 8.29289C3.90237 8.68342 3.90237 9.31658 4.29289 9.70711L5.70711 8.29289ZM18.2929 8.29289L11.2929 15.2929L12.7071 16.7071L19.7071 9.70711L18.2929 8.29289ZM12.7071 15.2929L5.70711 8.29289L4.29289 9.70711L11.2929 16.7071L12.7071 15.2929Z" fill="#F2994A"/></svg>
                    <svg class="show" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 18L6 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M18 6L5.99997 18" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    span Какая ответственность предусмотрена за отсутствие проекта СЗЗ?
                .accordion__content 
                    ul.handbook__list 
                        li.handbook__li За отсутствие разработанного и согласованного проекта санитарно-защитной зоны у действующего предприятия КоАП РФ предусматривает:    
                        li.handbook__li штраф 20 000 рублей для юридических лиц или приостановление производства на срок до 90 суток
                        li.handbook__li Проектируемый же объект без согласованной СЗЗ просто не допустят до строительства
                        li.handbook__li СанПиН 2.2.1/2.1.1.1200-03 «Санитарно-защитные зоны и санитарная классификация предприятий, сооружений и иных объектов»
                        li.handbook__li Федеральный закон № 96-ФЗ от 04.05.1999 «Об охране атмосферного воздуха»