mixin header()
    header.header 
        nav.header__nav.container 
            a(href="#!").header__logo А’ТРИБУС
            .header__seperator
            p.header__p #[span Наша цель, чистая планета] #[br] Чистая планета как основа чистого сознания и всеобщего благополучия 