mixin main()
    .info.section.gray 
        .info__body.container 
            h2.title.info__title Что такое Санитарно-защитная зона? 


    .info.section 
        .info__body.container 
            h2.title.info__title Что включает в себя проект СЗЗ 


    .info.section.gray 
        .info__body.container 
            h2.title.info__title Цели проекта СЗЗ 


    .info.section 
        .info__body.container 
            h2.title.info__title Преимущества заказа проекта СЗЗ в Атрибус 

        