mixin main()
    .info.section.gray 
        .info__body.container 
            h2.title.info__title Что такое Санитарно-защитная зона? 
            p.info__p #[b Санитарно-защитная зона (СЗЗ) —] специальная территория, своеобразный барьер между производственной и жилой зоной. СЗЗ должна полностью устранять негативное влияние предприятий на окружающую среду и людей. #[br]#[br]Больше информации о наиболее важных аспектах проведения СЗЗ в нашем лаконичном и структурированном справочнике: #[a(href="#!") Подробнее о СЗЗ]

    .info.section 
        .info__body.container 
            h2.title.info__title Что включает в себя проект СЗЗ 
            ul.info__list 
                li.info__li Выявление на предприятии источников негативного воздействия на окружающую среду
                li.info__li Оценку степени загрязнения атмосферы в сравнении с санитарно-гигиеническими требованиями
                li.info__li Оценку рисков для здоровья населения (для объектов I или II классов опасностей)
                li.info__li Разработку и обоснование мероприятий по защите населения от воздействия выбросов вредных химических примесей в атмосферный воздух и от физического воздействия
                li.info__li Определение размера и границы санитарно-защитной зоны по совокупности показателей
                li.info__li Сопровождение рассмотрения проекта СЗЗ в органах Роспотребнадзора на уровне субъекта РФ или на федеральном уровне (для объектов I или II класса)
                li.info__li Карты плана — мониторинг по воздуху и физическим факторам в контрольных точках согласно план-графику
                li.info__li Выполнение карта-плана границы СЗЗ — описание ее в местной системе координат для передачи сведений в ЕГРН
                li.info__li Установление окончательного размера СЗЗ — получение Решения Главного государственного санитарного врача РФ на установленную санитарно-защитную зону на уровне субъекта РФ или федеральном уровне (для объектов I или II класса)

    .info.section.gray 
        .info__body.container 
            h2.title.info__title Цели проекта СЗЗ 
            ul.info__list 
                li.info__li Выполнение законодательства в области обеспечения санитарно-эпидемиологического благополучия населения
                li.info__li Для проектируемых объектов — создание и закрепление на законодательном уровне «буферной зоны» предприятия, запрещающей размещение на ней жилой застройки, рекреационных зон и других нормируемых территорий
                li.info__li Для действующих — оценка достаточности текущего размера СЗЗ и разработка мероприятия по снижению негативного воздействия при необходимости

    .info.section 
        .info__body.container 
            h2.title.info__title Преимущества заказа проекта СЗЗ в Атрибус 
            ul.info__list
                li.info__li Опыт разработки технически сложных проектов на предприятиях разных классов опасности
                li.info__li Опыт работы над проектами в разных регионах (включая согласование в госорганах)
                li.info__li До 3х недель на исполнение проекта (без учета времени госэкспертизы)
                li.info__li Получение положительного заключения государственных экспертиз с первого раза
                li.info__li Оплата в два этапа (окончательный расчет после положительного заключения экспертизы)

    .step.section_sm 
        .step__body.container 
            h2.title Этапы работ
            .step__content 
                .step__item
                    .step__num 1
                    .step__info 
                        p.step__title Заявка
                        p.step__p Позвоните нам по номеру #[a(href="tel:+74951081202") +7 495 108 12 02] или заполните онлайн-заявку, и наши специалисты свяжутся с вами
                .step__item
                    .step__num 2
                    .step__info 
                        p.step__title Заключение договора
                        p.step__p После уточнения деталей мы рассчитаем стоимость и сроки выполнения работ
                .step__item
                    .step__num 3 
                    .step__info 
                        p.step__title Выполнение работ
                        p.step__p Мы разрабатываем экологическую документацию в утвержденные сроки
                .step__item
                    .step__num 4 
                    .step__info 
                        p.step__title Согласование результата работ
                        p.step__p Промежуточные результаты работ мы обязательно согласовываем с вами в электронном виде
                .step__item
                    .step__num 5
                    .step__info 
                        p.step__title Экспертиза проекта
                        p.step__p Проводим согласование проекта в уполномоченных органах
                .step__item
                    .step__num 6
                    .step__info 
                        p.step__title Сдача работ
                        p.step__p Вы получаете все необходимые документы

    .docs.section 
        .docs__body.container 
            h2.title.docs__title Разрешительная документация
            .docs__slider.swiper 
                .docs__slider-wrapper.swiper-wrapper 
                    .docs__item.swiper-slide
                        .docs__item-img 
                            img(src="@img/doc-1.png", alt="" draggable="false")
                        p.docs__item-p Выписка аттестата аккредитации
                    .docs__item.swiper-slide
                        .docs__item-img 
                            img(src="@img/doc-2.png", alt="" draggable="false")
                        p.docs__item-p Выписка аттестата аккредитации
        