mixin partners()    
    .partners.section.gray
        .partners__body
            .partners__item 
                img(src="@img/p-1.png", alt="" draggable="false" loading="lazy")
            .partners__item 
                img(src="@img/p-2.png", alt="" draggable="false" loading="lazy")
            .partners__item 
                img(src="@img/p-3.png", alt="" draggable="false" loading="lazy")
            .partners__item 
                img(src="@img/p-4.png", alt="" draggable="false" loading="lazy")
            .partners__item 
                img(src="@img/p-5.png", alt="" draggable="false" loading="lazy")
            .partners__item 
                img(src="@img/p-6.png", alt="" draggable="false" loading="lazy")
            .partners__item 
                img(src="@img/p-7.png", alt="" draggable="false" loading="lazy")