mixin works()
    .works.section 
        .works__body.container 
            h2.title.works__title Выполненные проекты
            .works__slider.swiper 
                .works__slider-wrapper.swiper-wrapper
                    .works__item.swiper-slide
                        .works__item-img 
                            img(src="@img/work-1.jpg", alt="" draggable="false")
                        p.works__item-p Березовский ремонтно механический завод
                    .works__item.swiper-slide
                        .works__item-img 
                            img(src="@img/work-2.jpg", alt="" draggable="false")
                        p.works__item-p Китайский насосный завод
                    .works__item.swiper-slide
                        .works__item-img 
                            img(src="@img/work-3.jpg", alt="" draggable="false")
                        p.works__item-p Мусоросортировочный комплекс
                    .works__item.swiper-slide
                        .works__item-img 
                            img(src="@img/work-4.jpg", alt="" draggable="false")
                        p.works__item-p Полигон ТКО
                    .works__item.swiper-slide
                        .works__item-img 
                            img(src="@img/work-5.jpg", alt="" draggable="false")
                        p.works__item-p Уральский завод пластмас 
                    .works__item.swiper-slide
                        .works__item-img 
                            img(src="@img/work-6.jpg", alt="" draggable="false")
                        p.works__item-p Среднеуральская ГРЭС 
            a(href="#!").works__btn Смотреть все <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M13 6L19 12L13 18" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg> 
